.pokemon-card{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #eee;
  border: 1px solid #8d8d8d;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
  margin: 10px;
  border-top: 5px solid rgb(216, 158, 158);
  border-bottom: 5px solid rgb(216, 158, 158);
}
