<div class="pokemon-list">
  <app-pokemon-card
    *ngFor="let pokemon of paginatedPokemons; index as i"
    [pokemon]="pokemon"
    [numero]="i + 1 + (currentPage * pageSize)"
  >
  </app-pokemon-card>
</div>

<div class="paginatina-controle">
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 0">
    <
  </button>
  <span>Página {{ currentPage + 1 }} of {{ totalPages }}</span>
  <button
    (click)="goToPage(currentPage + 1)"
    [disabled]="currentPage >= totalPages - 1"
  >
    >
  </button>
</div>
